In [1]:
#importing the datsets
import pandas as pd
df_train_flight=pd.read_excel("Data_Train.xlsx")
df_test_flight=pd.read_excel("Test_set.xlsx")
df_train_flight["dataset"]="train"
df_test_flight["dataset"]="test"

In [2]:
#Merging the datasets
df_flight=pd.concat([df_train_flight,df_test_flight],ignore_index=True)
df_flight.head(3)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,dataset
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,train
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,train
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,train

In [3]:
#Lets chcek the null values in the dataset
df_flight.isnull().sum()
#There are no null values only Price has 2671 null values which are part of test dataset so no need to worry
#bcz test has no "price" column

Airline               0
Date_of_Journey       0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
dataset               0
dtype: int64

In [4]:
#Lets chcek the datatypes of the columns
df_flight.dtypes
#Below "Duration" is of object datatype which we will convert into hours as float dataype

Airline             object
Date_of_Journey     object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
dataset             object
dtype: object

In [5]:
from datetime import date,time
df_flight["Dep_Time"]=pd.to_datetime(df_flight["Dep_Time"])
df_flight["Arrival_Time"]=pd.to_datetime(df_flight["Arrival_Time"])
df_flight["Date_of_Journey"]=pd.to_datetime(df_flight["Date_of_Journey"])

C:\Users\mohsin.DESKTOP-7I5HD4K\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '24/03/2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\mohsin.DESKTOP-7I5HD4K\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '24/06/2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\mohsin.DESKTOP-7I5HD4K\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '27/05/2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\mohsin.DESKTOP-7I5HD4K\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '18/04/2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\mohsin.DESKTOP-7I5HD4K\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '24/04/2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\mohsin.DESKTOP-7I5HD4K\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '15/04/2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\mohsin.DESKTOP-7I5HD4K\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '21/03/2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\mohsin.DESKTOP-7I5HD4K\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '15/05/2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\mohsin.DESKTOP-7I5HD4K\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '18/06/2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\mohsin.DESKTOP-7I5HD4K\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '15/06/2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\mohsin.DESKTOP-7I5HD4K\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '18/05/2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\mohsin.DESKTOP-7I5HD4K\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '27/06/2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\mohsin.DESKTOP-7I5HD4K\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '21/05/2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\mohsin.DESKTOP-7I5HD4K\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '15/03/2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\mohsin.DESKTOP-7I5HD4K\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '24/05/2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\mohsin.DESKTOP-7I5HD4K\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '21/04/2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\mohsin.DESKTOP-7I5HD4K\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '21/06/2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\mohsin.DESKTOP-7I5HD4K\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '27/03/2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\mohsin.DESKTOP-7I5HD4K\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '18/03/2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
C:\Users\mohsin.DESKTOP-7I5HD4K\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\tools\datetimes.py:1047: UserWarning: Parsing '27/04/2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)

In [ ]:
df_flight.head(3)

In [ ]:
df_flight.dtypes

In [6]:
x=(df_flight["Arrival_Time"]-df_flight["Dep_Time"])
x.head(3)
duration_list=list()
for i in range(len(x)):
    dur=x.iloc[i].seconds/3600
    duration_list.append(dur)
df_flight["Duration"]=duration_list

In [ ]:
df_flight.head(3)

In [ ]:
#Lets again chcek the datatype
df_flight.dtypes
#Since we have Date of journey,dep_time and duration we can drop "Arrival_Time"  right away

In [7]:
#Some of the columns we can drop like "Date_of_Journey","Route","Arrival_Time"
df_flight.drop(columns=["Date_of_Journey","Route","Arrival_Time"],inplace=True)

In [8]:
#By chceking value counts we can conclude "1 Long layover" and "2 Long layover" as "Long layover"
#"No info" and "No Info" are one and same thing and repaced by "No Info"
#For airlines we can combine the last few to their main tag as they are vey less in counts
df_flight["Additional_Info"].replace("1 Long layover","Long layover",inplace=True)
df_flight["Additional_Info"].replace("2 Long layover","Long layover",inplace=True)
df_flight["Additional_Info"].replace("No info","No Info",inplace=True)
df_flight["Airline"].replace("Jet Airways Business","Jet Airways",inplace=True)
df_flight["Airline"].replace("Multiple carriers Premium economy","Multiple carriers",inplace=True)
df_flight["Airline"].replace("Vistara Premium economy","Vistara",inplace=True)

In [ ]:
df_flight.head(3)

In [9]:
#In Destination column "New Delhi" can be replaced by "Delhi"
df_flight["Destination"].replace("New Delhi","Delhi",inplace=True)

In [ ]:
# #need to exract features from dep_time
# import numpy as np
# df_flight["time_of_day"]=np.where((df_flight["Dep_Time"].dt.hour>=0)&(df_flight["Dep_Time"].dt.hour<=2),"Late Night",)

In [ ]:
#Lets chcek when the averge price of the flights during entire day
import matplotlib.pyplot as plt
import seaborn as sns
sns.barplot(x="Dep_Time",y="Price",data=df_flight)
plt.show()

In [ ]:
#lets check which airline is expensive based on average price
plt.figure(figsize=(20,5))
sns.barplot(x="Airline",y="Price",data=df_flight)
plt.show()

In [ ]:
#Lets chcek the most popular flight region wise
plt.figure(figsize=(20,5))
sns.countplot(x="Source",hue="Airline",data=df_flight)
plt.show()

In [10]:
#this is the mean of whole df_flight which includes train and test
df_flight.loc[df_flight["Airline"]=="IndiGo",["Price"]].mean()

Price    5673.682903
dtype: float64

In [11]:
#this is the mean of only train part of df_flight
df_flight.loc[(df_flight["Airline"]=="IndiGo")&(df_flight["dataset"]=="train"),["Price"]].mean()

Price    5673.682903
dtype: float64

In [ ]:
#the above two means are  equal because  and that means it does not considers observation where price null

In [ ]:
#Lets chcek from which region averge price of the flight was more
sns.barplot(x="Source",y="Price",data=df_flight)
plt.show()

In [ ]:
#lets draw a line plot between duration and price
sns.lineplot(x="Duration",y="Price",data=df_flight)
plt.show()
#this picture does not give clear idea about the correlation

In [12]:
#lets chcek the correlation matrix
df_flight.corr()
#so there positive correlation of 0.45 between price and duration

          Duration     Price
Duration  1.000000  0.450205
Price     0.450205  1.000000

In [ ]:
df_flight.dtypes

In [13]:
#lets use one hot encodig to covert object datatypes to integers
df_flight_final=pd.get_dummies(df_flight,columns=["Additional_Info","Airline","Destination","Source","Total_Stops","Dep_Time"],drop_first=True)

In [ ]:
df_flight_final.head(3)

In [14]:
#Lets seprate the train and test from df_flight_final
df_train=df_flight_final.loc[df_flight_final["dataset"]=="train"]
df_test=df_flight_final.loc[df_flight_final["dataset"]=="test"]

In [15]:
#re indexing the test dataset
df_test.reset_index(drop=True,inplace=True)

In [16]:
#Lets drop "Price" and "dataset" columns from the test dataset
#Also droping "dataset" columns from the train dataset
df_test.drop(columns=["Price","dataset"],inplace=True)
df_train.drop(columns=["dataset"],inplace=True)

C:\Users\mohsin.DESKTOP-7I5HD4K\AppData\Local\Temp\ipykernel_7664\487921096.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test.drop(columns=["Price","dataset"],inplace=True)
C:\Users\mohsin.DESKTOP-7I5HD4K\AppData\Local\Temp\ipykernel_7664\487921096.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train.drop(columns=["dataset"],inplace=True)

In [17]:
#lets divide the df_train into iput an doutput
df_x=df_train.drop(columns=["Price"])
y=df_train[["Price"]]

In [26]:
df_x.head(3)

,Duration,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_Long layover,Additional_Info_No Info,Additional_Info_No check-in baggage included,Additional_Info_Red-eye flight,Airline_Air India,Airline_GoAir,...,Dep_Time_2022-04-20 22:30:00,Dep_Time_2022-04-20 22:40:00,Dep_Time_2022-04-20 22:45:00,Dep_Time_2022-04-20 22:50:00,Dep_Time_2022-04-20 22:55:00,Dep_Time_2022-04-20 23:00:00,Dep_Time_2022-04-20 23:05:00,Dep_Time_2022-04-20 23:25:00,Dep_Time_2022-04-20 23:30:00,Dep_Time_2022-04-20 23:55:00
0,2.833333,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7.416667,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,19.000000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
#Lets bring every column to common scale
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x = sc.fit_transform(df_x)

In [ ]:
#Lets use PCA for dimensionality reduction
import numpy as np
from sklearn.decomposition import PCA
pca = PCA(n_components=29)
x_pca=pca.fit_transform(x)
print("vraiance :{}".format(np.sum(pca.explained_variance_ratio_)))

In [ ]:
#to find random stat which gives maximum r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
def maxr2_score(regr,df_x,y):
    max_r_score=0
    for r_state in range(42,100):
        x_train, x_test, y_train, y_test = train_test_split(df_x, y,random_state = r_state,test_size=0.20)
        regr.fit(x_train,y_train)
        y_pred = regr.predict(x_test)
        r2_scr=r2_score(y_test,y_pred)
        print("r2 score corresponding to ",r_state," is ",r2_scr)
        if r2_scr>max_r_score:
            max_r_score=r2_scr
            final_r_state=r_state
    print("max r2 score corresponding to ",final_r_state," is ",max_r_score)
    return final_r_state

In [ ]:
#lets make a function which evaluates the model using cross_val_score
from sklearn.model_selection import cross_val_score
def model_evaluation(model,x,y):
    c_scores=cross_val_score(model,x,y,cv=5,scoring="r2")
    print("Mean r2 score for regressor: ",c_scores.mean())
    print("standard deviation in r2 score for regressor: ",c_scores.std())
    print(c_scores)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
dtr=DecisionTreeRegressor()
r_state=maxr2_score(dtr,x_pca,y)

In [ ]:
#Lets chcek the cross_val_score for decision trees
print("Decision Tree Regressor\n\n")
model_evaluation(dtr,x_pca,y)

In [ ]:
#lets chcek Random forest using n_estimators=500 
from sklearn.ensemble import RandomForestRegressor
rfr=RandomForestRegressor(n_estimators=500)
#Lets chcek the cross_val_score for Random Forest Regressor
print("Random Forest Regressor\n\n")
model_evaluation(rfr,x_pca,y)

In [ ]:
#Lets chcek KNN regressor
from sklearn.neighbors import KNeighborsRegressor
knr=KNeighborsRegressor()
knr=KNeighborsRegressor(n_neighbors=5)
maxr2_score(knr,x_pca,y)

In [ ]:
#Lets check the cross_val score of KKN regressor
print("KNN Regressor\n\n")
model_evaluation(knr,x_pca,y)

In [ ]:
#lets chcek the SVM
from sklearn.svm import SVR  
svr=SVR()                   
svr=SVR(C=10,kernel="linear")  
maxr2_score(svr,x_pca,y)

In [ ]:
#random forest and KNN are peforming almost equally good,but KNN is faster so we will choose KNN as our Final model
#knr is model
x_train, x_test, y_train, y_test = train_test_split(x_pca, y,random_state = 77,test_size=0.20)
knr.fit(x_train,y_train)
y_pred=knr.predict(x_test)

In [ ]:
print("RMSE is: ",np.sqrt(mean_squared_error(y_test,y_pred)))
print("r2_score is: ",r2_score(y_test,y_pred))

In [ ]:
#lets transform df_test accoring to pca
x_pca_test=pca.transform(df_test)

In [ ]:
price_pred=knr.predict(x_pca_test)

In [ ]:
#lets make the dataframe for price_pred
price_pred=pd.DataFrame(price_pred,columns=["Price"])

In [ ]:
#Lets save the submission to csv
price_pred.to_csv("Flight_Price_Predictions.csv",index=False)